################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/SDatosPersonales/.vs/SDatosPersonales/v16
/SDatosPersonales/Debug
/SDatosPersonales/PDatosPersonales/Debug
